*{
    margin:0;
    padding:0;
    font-family:Georgia, 'Times New Roman', Times, serif;
scroll-behavior: smooth;
box-sizing: border-box;
}

nav{
    display: flex;
    padding: 20px;
}
.links{
    text-align: center;
    background-color: rgba(85, 41, 17, 0.426);
    border-radius: 25px;
    margin: auto; /* Center the navigation links */
}
.links ul li{
    list-style: none;
    display: inline-block; /*horizontal*/
    padding: 7px 15px; /* Add padding around the navigation items */

}
.links ul li a{
    color: rgba(220, 221, 221, 0.9);
    text-decoration: none;
    font-size: 18px;
}
.links ul li a:hover{
    color:#ffffff;
    transition: 0.5s;
}

body{
    background: rgb(24,38,54);
    background: linear-gradient(180deg, rgba(24,38,54,1) 0%, rgba(17,17,17,1) 100%);
color: #fff;
}

.cities{
    padding: 20px 16%;
}

.box-area{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 3rem;
    align-items: center;
    margin-top: 2rem;
}

.box{
    position: relative; 
    transition: all .3s cubic-bezier(.445,.05,.55,.95);
     cursor: pointer;
}

.box img{
    border-radius: 25px;
    width: 100%;
    height: auto;
    box-shadow: 12px 12px 10px rgba(32, 36, 33, 0.807);
}
.box:hover{
    transform: scale(1.04);
}

.overlay{
    height: 0;
    width: 100%;
    background: linear-gradient(transparent,#05011a) ;
    position: absolute;
    left: 0;
    bottom:0;
    overflow:hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    border-radius: 25px;

}
.box:hover .overlay{
    height: 100%;
}

.overlay h3{
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 20%;
    font-size: 2em;
}
.overlay p{
    color: #da8831;
    font-size: 1.1em;

}
.text h1{
    text-align: center;
    font-size: 3em;
    font-family: font;
    color: #b26f27;
    text-shadow: 0 5px 10px #000000;

}
.text p{
    text-align: center;
    font-size: large;
    color: #fff;
}

.main{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-evenly;

}

.marrakesh{
    padding: 100px 20px 100px 20px;
}
.marrakesh h1{
    padding:0px 10% 0px 10%;
    font-family: font;
    font-size: 50px;
    color: #b26f27;
    text-shadow: 5px 5px 20px rgb(0, 0, 0)

}

.marrakesh p{
    padding:0px 100px 0px 100px;
    font-size: larger;
}
.thum{
    position: relative; 
    transition: all .3s cubic-bezier(.445,.05,.55,.95);
  }
  
.thum img{
    
    border-radius: 25px;
    width: 275px;
    height: auto;
    box-shadow: 12px 12px 10px rgba(94, 66, 24, 0.281);

  }
  .thum:hover{
    transform: scale(1.04);

}


.map-container{
    width: 100%;
    height: 100vh;
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    

font-family:Georgia, 'Times New Roman', Times, serif;
color: #fff;
}

.map-container h2{
    font-family: font;
    font-size: 3em;
    color: #b26f27;
    margin-top: 50px;
    margin-bottom: 30px;
    text-shadow: 5px 5px 20px rgba(21, 12, 100, 0.7)

}

iframe{
  width: 80%;
  height: 500px;
  margin-bottom: 50px;
border-radius: 25px;
box-shadow: -12px 12px 10px rgba(0, 0, 0, 0.807);
}

@font-face{
    font-family: font;
    src:url(font/hidayatullah\ DEMO.ttf);
}

@font-face{
    font-family: font;
    src:url(font/hidayatullah\ DEMO.ttf);
}





