.footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}

.footer-content {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    margin: 1rem 0 0 0;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    color: #b46816;

}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);

}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a:hover {
    color: #b46816;
}

.bottom {
    padding: 20px 10px;
}

.bottom p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}